body {
    height: 100vh;
    background: #141414 !important;
    color: #fff
}

.movie-app > .row {
    overflow-x: auto;
    flex-wrap: nowrap;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}